:root{
    --black: #222222;
    --white: #fcfcfc;
    --accent: #428071;
    --accent-dark: #2f5c51;
}

body{
    font-family: sans-serif;
    color: var(--black);
    margin: 0px;
}

img{
    max-width: 100%;
    margin: 0px auto;
}

.headertitle {
    color: #123512;
    font-weight: bolder;
}

/* Add a background color to the top navigation */
.topnav {
    background-color: #fcfcfc;
    overflow: hidden;
    border-top: 1px solid var(--accent-dark);
    border-bottom: 1px solid var(--accent-dark);
    max-width: 100%;
}
  
/*.topnav li{
    display:inline;
}*/

/* Style the links inside the navigation bar */
.topnav a {
    /*display:inline-block;*/
    font-family: 'Playfair Display';
    float: left;
    color: var(--black);
    text-align: center;
    opacity: 2rem;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #2f5c51;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: var(--black);
    /*background-color: var(--accent);*/
    font-weight: bolder
  }
  
/* Add a color to the active/current link */
.topnav a.active {
    text-decoration-line: none;
    font-weight: bolder;
    background-color: var(--accent);
}

/* Style link to map page */
/*.color_18 a {
    color: var(--accent);
    font-weight: bolder;
    text-decoration: none;
}*/

.color_18 a:hover {
    color: var(--accent);
    font-weight: bolder;
    text-decoration: underline;
}
.color_18 a:visited {
    color: var(--black);
    font-weight: bolder;
    text-decoration: underline;
}

div#main{
    margin: 0px auto;
    width: 90%;
    /* max-width: 1000px; */
}

h1{
    color: var(--accent-dark);
    font-weight: bold;
    text-align: center;
}

p{
    text-align: justify;
    max-width: 80ch;
}

/* Profile Card */

.cardContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 0px auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 10px 20px;
  text-align: center;
  display: flex;
  flex-flow: column;
  border-radius: 2px;
}

.card h1{
    font-size: 1.2em;
}

.card img{
    max-width: 120px;
}

.card a.button{
    margin-top: auto;
}

.title {
  color: grey;
  font-size: 18px;
}

a.button{
    background-color:var(--accent);
    border-radius: 2px;
    color: var(--white);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
 
a.button:hover {
  background-color: var(--accent-dark); 
  color: var(--white);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
    font-family: 'Playfair_Display';
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 5px;
    background-color: var(--accent);
    color: var(--white);
}

div.center{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.right{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*jumbotron*/
.jumbotron-image {
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 0;
}

hr.section-break{
  margin: 25px auto;
  max-width: 800px;
  width: 80%;
}

.mask-custom {
    backdrop-filter: blur(1px);
    background-color: rgba(42,80,71,0.55);
  }

@font-face {
    font-display: block;
    font-family: "CormorantGaramond-Light";
    src: url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Cormorantgaramond-light/v5/iEjm9hVxcattz37Y8gZwVSNMxVe3WGf96EDbCaLCBKE.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Cormorantgaramond-light/v5/iEjm9hVxcattz37Y8gZwVergGQquJ_f3dxTxEJk8ZKM.woff") format("woff"),
    url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Cormorantgaramond-light/v5/iEjm9hVxcattz37Y8gZwVXYC8UqYVZ_Us7w6eA7MdZE.ttf") format("truetype"),
    url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Cormorantgaramond-light/v5/cormorantgaramond-light-Svg.svg") format("svg");
}

@font-face {
    font-display: block;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Playfair_Display/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5j5hNKc.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }



